<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-lg-3 mt-5 px-5">
      <ul class="list-group shadow">
        <li
          [ngClass]="
            activeTabIndex === 0
              ? 'list-group-item active py-3'
              : 'list-group-item py-3'
          "
          (click)="switchProfileActiveTab(0)"
        >
          <fa-icon [icon]="faUser"></fa-icon> Profile
        </li>
        <li
          [ngClass]="
            activeTabIndex === 1
              ? 'list-group-item active py-3'
              : 'list-group-item py-3'
          "
          (click)="switchProfileActiveTab(1)"
        >
          <fa-icon [icon]="faKey"></fa-icon> Change Password
        </li>
        <li class="list-group-item py-3" (click)="logout($event)">
          <fa-icon [icon]="faArrowRightFromBracket"></fa-icon> Logout
        </li>
      </ul>
    </div>
    <div class="col-lg-9 mt-5 px-5">
      <div class="row shadow-sm rounded p-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Profile</li>
            <li class="breadcrumb-item active" aria-current="page">
              {{ activeTabIndex }}
            </li>
          </ol>
        </nav>
        <div *ngIf="activeTabIndex === 1">
          <app-change-password></app-change-password>
        </div>
        <div *ngIf="activeTabIndex === 0">
          <app-update-profile></app-update-profile>
        </div>
      </div>
    </div>
  </div>
</div>
