<div class="container-fluid">
  <div>
    <form class="shadow p-3 mb-5 bg-white rounded">
      <div *ngIf="!isSent">
      <small class="text-muted"
        >We'll never share your email with anyone else.</small
      >
      <div class="form-group">
        <label for="emailAddress">Email address</label>
        <input
          type="email"
          class="form-control"
          placeholder="Enter email address"
          [(ngModel)]="emailAddress"
          name="emailAddress"
        />
      </div>
      <button type="submit" class="btn btn-primary w-100" (click)="verifyEmail()">Verify</button>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="isSent">
      <strong>Forgot password link has sent to {{emailAddress}}</strong>
    </div>
    </form>
  </div>
</div>
