<div class="row title">
  <div class="col-lg-12 d-flex justify-content-between">
    <h3>Change Password</h3>
  </div>
</div>
<div class="row profile-pic">
  <div class="col-lg-3 my-5">
    <img class="img-fluid"
      src="https://i.pinimg.com/originals/7f/24/d8/7f24d81c34fc9ed92e5d1a71c1969d36.png"
      [width]="200"
    />
  </div>
</div>
<form [formGroup]="changePasswordForm">
  <div class="form-group">
    <label for="newPassword" class="form-label" i18n>New Password</label>
    <div>
      <input
        type="password"
        class="form-control"
        id="newPassword"
        placeholder="Enter new password"
        formControlName="newPassword"
        [ngClass]="{'is-invalid': newPassword?.invalid && (newPassword?.touched || newPassword?.dirty)}"
      />
      
    </div>
    <div *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)">
        <div *ngIf="newPassword?.errors?.['required']" class="error">
            <small>Password is required.
            </small>
        </div>
    </div>
  </div>
  <div class="form-group">
    <label for="confirmPassword" class="form-label">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      id="confirmPassword"
      placeholder="Enter confirm Password"
      formControlName="confirmPassword"
      [ngClass]="{'is-invalid' : confirmPassword?.invalid && (confirmPassword?.touched || confirmPassword?.dirty)}"
    />
    <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">
        <div *ngIf="newPassword?.errors?.['required']" class="error">
            <small>Confirm password is required.
            </small>
        </div>
    </div>
    <div *ngIf="changePasswordForm.invalid && (confirmPassword?.dirty || confirmPassword?.touched)">
      <div *ngIf="changePasswordForm?.errors?.['mismatch']" class="error">
          <small>Password does not match
          </small>
      </div>
  </div>
  </div>
  <button type="submit" class="btn btn-primary mt-2" (click)="changePassword()">
    Change Password
  </button>
</form>

<app-toasts [title]="toastTitle" [body]="toastMessage"></app-toasts>

